

	
	body{

		margin: : 0;
		padding: 0;
		font-size: 100%;
		font-family: georgia, times, "times new roman", serif; 
		color: #000; 
		background: #0040ff ;
	}
	.main{	
		
		padding: 5%;
		margin: auto;
		background-color: #ff0000;
		width: 50%;
		height: 80%;
		text-align: center;
	}

	#clickCount, #myBox{
  	  margin: auto;
	  font-size: 400%;
	  color: #f5f5f5;
  	  width: 100px;
  	  height: 100px;
 	  background-color: #ff8000;
   	  display: block; 
   	  margin-bottom: 5px;

}

	
	#clickCount:hover { 

		color: red;}